
.nav-text{
    /* text-emphasis: white; */
    opacity: 1;
}
.nav-text:hover{
    opacity: 0.3;
}
.navbar-custom{
    /* For 90 degree pic*/
    /* background-color: rgba(161, 164, 165, 0.479); */


}

body{
    background-image: url('img/background.jpg');
}
.text-secondary{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text-dark{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}